language: php

jobs:
  include:
    - php: 7.3
      dist: xenial
    - php: 7.2
      dist: xenial
    - php: 7.1
      dist: xenial
    - php: 7.0
      dist: xenial
    - php: 5.6
      dist: trusty
    - php: 5.5
      dist: trusty
    - php: 5.4
      dist: trusty
    - php: 5.3
      dist: precise

install:
  - composer install
  - wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit

after_script:
  - php coveralls.phar -v
